.sidebar {
  margin: 0;
  padding: 0;
  width:300px;
  background-color: rgb(0,0,0,0.4);
  position: fixed;
  height: 100%;
  overflow: auto;
}
body{

background-image: url(../Images/img9.jpg); 
background-repeat: no-repeat;

background-size: 100% 900px;
}

.sidebar a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
  font-size: 25px;
}
 
.sidebar a.active {
  background-color: #708090;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 800px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}